
*.log
british_columbia.txt
calgary.txt
edmonton.txt
hamilton.txt
kitchener_waterloo.txt
london.txt
manitoba.txt
montreal.txt
new_brunswick.txt
newfoundland_labrador.txt
north.txt
nova_scotia.txt
ottawa.txt
prince_edward_island.txt
saskatchewan.txt
saskatoon.txt
sudbury.txt
thunder_bay.txt
toronto.txt
windsor.txt
world.txt
